<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.bloodbank">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bloodimage"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bloodimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Dashboard"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <dist:module dist:instant="true" />

</manifest>